.search-bar{
  margin: 20px;
  text-align:center;

}
h1{
  text-align: center;
}

.search-bar input{
  width: 66%;
  border-radius: 2px;
}
.video-item img{
  max-width: 64px;
}
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
}
/*.list-group ul{
  font-size: 10px;

}*/

.list-group-item{
  cursor: pointer;
  font-size: 12px;
}
.list-group-item:hover{
  background-color:  #eee;
}
